<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="MonoAndroid60" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="monoandroid6" />
</packages>